.icon_spacing {
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}

.artist_icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.card_adjust {
    margin: 32px auto;
    padding: 0 16px;
}

.plus_size {
    font-size: 30px;
    margin-top: 15px;
}