<div class="container">
       <div class="card card_adjust">
         <div class="row">
            <div class="col">
                <i class="fas fa-plus plus_size"></i>
             </div>
         <div class="col">
             <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
          </div>
          <div class="col">
             <h6 class="icon_spacing">Artist Name</h6>
          </div>
          <div class="col">
              <h6 class="icon_spacing">Description/Genre</h6>
           </div>
          <div class="col">
             <!-- Links -->
             <a class="icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
             <i class="fab fa-twitter twitter" ></i>
             </a>
             <a class="icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
             <i class="fab fa-facebook-f facbeook"></i>
             </a>
             <a class="icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
             <i class="fab fa-instagram instagram"></i>
             </a>
             <a class="icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
             <i class="fab fa-snapchat snapchat"></i>
             </a>
             <a class="icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
             <i class="fab fa-spotify spotify"></i>
             </a>
             <a class="icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
             <i class="fab fa-apple"></i>
             </a>  
            </div>
    </div>
  </div>
 <div class="row">
    <div class="col">
       <div class="card">
          <div class="card-body">
             This is some text within a card body. Test
          </div>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col">
       <div class="card">
          <div class="card-body">
             This is some text within a card body.
          </div>
       </div>
    </div>
 </div>
 </div>