<div class="container">
  <div class="card card_adjust">
         <div class="row">
            <div class="col-1">
                <i class="fas fa-plus plus_size"></i>
             </div>
         <div class="col-1">
             <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
          </div>
          <div class="col-3 card_content_adjust">
             <h6 class="icon_spacing">Artist Name</h6>
          </div>
          <div class="col-3 card_content_adjust">
              <h6 class="icon_spacing">Description/Genre</h6>
           </div>
          <div class="col-4">
             <!-- Links -->
             <div class="row">
             <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
             <i class="fab fa-twitter twitter" ></i>
             </a>
             <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
             <i class="fab fa-facebook-f facbeook"></i>
             </a>
             <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
             <i class="fab fa-instagram instagram"></i>
             </a>
             <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
             <i class="fab fa-snapchat snapchat"></i>
             </a>
             <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
             <i class="fab fa-spotify spotify"></i>
             </a>
             <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
             <i class="fab fa-apple"></i>
             </a>
             </div>
            </div>
    </div>
  </div>
  <div class="card card_adjust">
      <div class="row">
         <div class="col-1">
             <i class="fas fa-plus plus_size"></i>
          </div>
      <div class="col-1">
          <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
       </div>
       <div class="col-3 card_content_adjust">
          <h6 class="icon_spacing">Artist Name</h6>
       </div>
       <div class="col-3 card_content_adjust">
           <h6 class="icon_spacing">Description/Genre</h6>
        </div>
       <div class="col-4">
          <!-- Links -->
          <div class="row">
          <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
          <i class="fab fa-twitter twitter" ></i>
          </a>
          <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
          <i class="fab fa-facebook-f facbeook"></i>
          </a>
          <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
          <i class="fab fa-instagram instagram"></i>
          </a>
          <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
          <i class="fab fa-snapchat snapchat"></i>
          </a>
          <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
          <i class="fab fa-spotify spotify"></i>
          </a>
          <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
          <i class="fab fa-apple"></i>
          </a>
          </div>
         </div>
 </div>
  </div>
  <div class="card card_adjust">
    <div class="row">
       <div class="col-1">
           <i class="fas fa-plus plus_size"></i>
        </div>
    <div class="col-1">
        <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
     </div>
     <div class="col-3 card_content_adjust">
        <h6 class="icon_spacing">Artist Name</h6>
     </div>
     <div class="col-3 card_content_adjust">
         <h6 class="icon_spacing">Description/Genre</h6>
      </div>
     <div class="col-4">
        <!-- Links -->
        <div class="row">
        <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
        <i class="fab fa-twitter twitter" ></i>
        </a>
        <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
        <i class="fab fa-facebook-f facbeook"></i>
        </a>
        <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
        <i class="fab fa-instagram instagram"></i>
        </a>
        <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
        <i class="fab fa-snapchat snapchat"></i>
        </a>
        <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
        <i class="fab fa-spotify spotify"></i>
        </a>
        <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
        <i class="fab fa-apple"></i>
        </a>
        </div>
       </div>
</div>
  </div>
  <div class="card card_adjust">
        <div class="row">
           <div class="col-1">
               <i class="fas fa-plus plus_size"></i>
            </div>
        <div class="col-1">
            <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
         </div>
         <div class="col-3 card_content_adjust">
            <h6 class="icon_spacing">Artist Name</h6>
         </div>
         <div class="col-3 card_content_adjust">
             <h6 class="icon_spacing">Description/Genre</h6>
          </div>
         <div class="col-4">
            <!-- Links -->
            <div class="row">
            <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
            <i class="fab fa-twitter twitter" ></i>
            </a>
            <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
            <i class="fab fa-facebook-f facbeook"></i>
            </a>
            <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
            <i class="fab fa-instagram instagram"></i>
            </a>
            <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
            <i class="fab fa-snapchat snapchat"></i>
            </a>
            <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
            <i class="fab fa-spotify spotify"></i>
            </a>
            <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
            <i class="fab fa-apple"></i>
            </a>
            </div>
           </div>
   </div>
  </div>
  <div class="card card_adjust">
      <div class="row">
         <div class="col-1">
             <i class="fas fa-plus plus_size"></i>
          </div>
      <div class="col-1">
          <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
       </div>
       <div class="col-3 card_content_adjust">
          <h6 class="icon_spacing">Artist Name</h6>
       </div>
       <div class="col-3 card_content_adjust">
           <h6 class="icon_spacing">Description/Genre</h6>
        </div>
       <div class="col-4">
          <!-- Links -->
          <div class="row">
          <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
          <i class="fab fa-twitter twitter" ></i>
          </a>
          <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
          <i class="fab fa-facebook-f facbeook"></i>
          </a>
          <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
          <i class="fab fa-instagram instagram"></i>
          </a>
          <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
          <i class="fab fa-snapchat snapchat"></i>
          </a>
          <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
          <i class="fab fa-spotify spotify"></i>
          </a>
          <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
          <i class="fab fa-apple"></i>
          </a>
          </div>
         </div>
  </div>
  </div>
</div>



<div class="sidenav">

    <div class="container">
        <div class="row">
            <img class="media_image rounded border border-dark" src="../assets/Images/1_1Imag.jpg" alt="Card image cap">
        </div>
        <div class="row">
          <h3 style="margin-left: 33px;" class="black">Song Title</h3>
        </div>
        <div class="row">
          <div class="column">
              <i class="fas fa-backward media_control_size black"></i>
          </div>
          <div class="column">
              <i class="far fa-play-circle media_control_size black"></i>
          </div>
          <div class="column">
              <i class="fas fa-forward media_control_size black"></i>
          </div>
        </div>
      </div>
</div>

<div class="equal_effect">
    <div class="Equalcontainer">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
</div>
