<div class="container">
  <div class="card card_adjust">
         <div class="row">
            <div class="col-1">
                <i class="fas fa-plus plus_size"></i>
             </div>
         <div class="col-1">
             <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
          </div>
          <div class="col-3 card_content_adjust">
             <h6 class="icon_spacing">Artist Name</h6>
          </div>
          <div class="col-3 card_content_adjust">
              <h6 class="icon_spacing">Description/Genre</h6>
           </div>
          <div class="col-4">
             <!-- Links -->
             <div class="row">
             <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
             <i class="fab fa-twitter twitter" ></i>
             </a>
             <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
             <i class="fab fa-facebook-f facbeook"></i>
             </a>
             <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
             <i class="fab fa-instagram instagram"></i>
             </a>
             <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
             <i class="fab fa-snapchat snapchat"></i>
             </a>
             <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
             <i class="fab fa-spotify spotify"></i>
             </a>
             <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
             <i class="fab fa-apple"></i>
             </a>
             </div>
            </div>
    </div>
  </div>
  <div class="card card_adjust">
      <div class="row">
         <div class="col-1">
             <i class="fas fa-plus plus_size"></i>
          </div>
      <div class="col-1">
          <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
       </div>
       <div class="col-3 card_content_adjust">
          <h6 class="icon_spacing">Artist Name</h6>
       </div>
       <div class="col-3 card_content_adjust">
           <h6 class="icon_spacing">Description/Genre</h6>
        </div>
       <div class="col-4">
          <!-- Links -->
          <div class="row">
          <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
          <i class="fab fa-twitter twitter" ></i>
          </a>
          <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
          <i class="fab fa-facebook-f facbeook"></i>
          </a>
          <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
          <i class="fab fa-instagram instagram"></i>
          </a>
          <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
          <i class="fab fa-snapchat snapchat"></i>
          </a>
          <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
          <i class="fab fa-spotify spotify"></i>
          </a>
          <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
          <i class="fab fa-apple"></i>
          </a>
          </div>
         </div>
 </div>
  </div>
  <div class="card card_adjust">
    <div class="row">
       <div class="col-1">
           <i class="fas fa-plus plus_size"></i>
        </div>
    <div class="col-1">
        <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
     </div>
     <div class="col-3 card_content_adjust">
        <h6 class="icon_spacing">Artist Name</h6>
     </div>
     <div class="col-3 card_content_adjust">
         <h6 class="icon_spacing">Description/Genre</h6>
      </div>
     <div class="col-4">
        <!-- Links -->
        <div class="row">
        <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
        <i class="fab fa-twitter twitter" ></i>
        </a>
        <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
        <i class="fab fa-facebook-f facbeook"></i>
        </a>
        <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
        <i class="fab fa-instagram instagram"></i>
        </a>
        <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
        <i class="fab fa-snapchat snapchat"></i>
        </a>
        <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
        <i class="fab fa-spotify spotify"></i>
        </a>
        <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
        <i class="fab fa-apple"></i>
        </a>
        </div>
       </div>
</div>
  </div>
  <div class="card card_adjust">
        <div class="row">
           <div class="col-1">
               <i class="fas fa-plus plus_size"></i>
            </div>
        <div class="col-1">
            <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
         </div>
         <div class="col-3 card_content_adjust">
            <h6 class="icon_spacing">Artist Name</h6>
         </div>
         <div class="col-3 card_content_adjust">
             <h6 class="icon_spacing">Description/Genre</h6>
          </div>
         <div class="col-4">
            <!-- Links -->
            <div class="row">
            <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
            <i class="fab fa-twitter twitter" ></i>
            </a>
            <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
            <i class="fab fa-facebook-f facbeook"></i>
            </a>
            <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
            <i class="fab fa-instagram instagram"></i>
            </a>
            <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
            <i class="fab fa-snapchat snapchat"></i>
            </a>
            <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
            <i class="fab fa-spotify spotify"></i>
            </a>
            <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
            <i class="fab fa-apple"></i>
            </a>
            </div>
           </div>
   </div>
  </div>
  <div class="card card_adjust">
      <div class="row">
         <div class="col-1">
             <i class="fas fa-plus plus_size"></i>
          </div>
      <div class="col-1">
          <img src="../../assets/Images/CoverArt.PNG" class = "artist_icon icon_spacing" alt="Avatar">
       </div>
       <div class="col-3 card_content_adjust">
          <h6 class="icon_spacing">Artist Name</h6>
       </div>
       <div class="col-3 card_content_adjust">
           <h6 class="icon_spacing">Description/Genre</h6>
        </div>
       <div class="col-4">
          <!-- Links -->
          <div class="row">
          <a class="circle-link icon_spacing" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
          <i class="fab fa-twitter twitter" ></i>
          </a>
          <a class="circle-link icon_spacing" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
          <i class="fab fa-facebook-f facbeook"></i>
          </a>
          <a class="circle-link icon_spacing" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
          <i class="fab fa-instagram instagram"></i>
          </a>
          <a class="circle-link icon_spacing" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
          <i class="fab fa-snapchat snapchat"></i>
          </a>
          <a class="circle-link icon_spacing" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
          <i class="fab fa-spotify spotify"></i>
          </a>
          <a class="circle-link icon_spacing" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
          <i class="fab fa-apple"></i>
          </a>
          </div>
         </div>
  </div>
  </div>
</div>



<div class="sidenav">

    <div class="container">
        <div class="row">
            <img class="media_image rounded border border-dark" src="../assets/Images/1_1Imag.jpg" alt="Card image cap">
        </div>
        <div class="row">
          <h3 style="margin-left: 33px;" class="black">Song Title</h3>
        </div>
        <div class="row">
          <div class="column">
              <i class="fas fa-backward media_control_size black"></i>
          </div>
          <div class="column">
              <i class="far fa-play-circle media_control_size black"></i>
          </div>
          <div class="column">
              <i class="fas fa-forward media_control_size black"></i>
          </div>
          <div class="row">
              <button type="button" class="btn btn-light adjustBtn" data-toggle="modal" data-target="#exampleModal">
                  Shout Music<i class="fas fa-bullhorn shout_icon_spacing"></i>
                </button>
            </div>
        </div>
      </div>
</div>

<div class="equal_effect">
    <div class="Equalcontainer">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
</div>

  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Shout Music</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <img class="media_image rounded border border-dark" src="../assets/Images/1_1Imag.jpg" alt="Card image cap">
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5>Song Title</h5>
                        </div>
                        <div class="row">
                            <h6>Artist</h6>
                        </div>
                        <div class="row">
                            <div class="col">
                            <a title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
                                <i class="fab fa-twitter twitter"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
                                <i class="fab fa-facebook-f facebook"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
                                <i class="fab fa-instagram instagram"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
                                <i class="fab fa-snapchat snapchat"></i>
                            </a>
                        </div>
                        </div>
                  
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Message</span>
                                </div>
                                <input type="text" class="form-control field_adjust" placeholder="Enter here" aria-label="Message" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Friends</span>
                                </div>
                                <input type="text" class="form-control field_adjust" placeholder="@friend" aria-label="Tag Friends" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Shout!</button>
        </div>
    </div>
</div>