<div class="backdrop">
    
    <div class="row justify-content-center">
        <div class="col col-lg-6">
            <div class="card login_lower card_styles">
            <form>
                <div class="form-group login_card_adjust">
                <label for="exampleInputEmail1" class="white">USERNAME</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group login_card_adjust">
                <label for="exampleInputPassword1" class="white">PASSWORD</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <a>
                <label class="form-check-label white" for="exampleCheck1">Forgot Password</label>
                </a>
                </div>
                <button type="submit" class="btn btn-light btn_adjust">Submit</button>
            </form>
         </div>
        </div>
    </div>    

    <div class="equal_effect">
            <div class="Equalcontainer">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>

              </div>
        </div>
