
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- PLACE LOGO HERE-->
  <i class="fas fa-compact-disc center_logo"></i>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
        </div>
      </div>

</div>

<div class="sidenav">

    <div class="container">
        <div class="row">
            <img class="media_image rounded border border-dark" src="../assets/Images/1_1Imag.jpg" alt="Card image cap">
        </div>
        <div class="row">
          <h3 style="margin-left: 33px;">Song Title</h3>
        </div>
        <div class="row">
          <div class="column">
              <i class="fas fa-backward media_control_size"></i>
          </div>
          <div class="column">
              <i class="far fa-play-circle media_control_size"></i>
          </div>
          <div class="column">
              <i class="fas fa-forward media_control_size"></i>
          </div>
        </div>
      </div>
</div>

<div class="equal_effect">
    <div class="Equalcontainer">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
</div>

<div class="content" role="main">

  <router-outlet></router-outlet>

  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
      <i class="fab fa-twitter twitter" ></i>
    </a>

    <a class="circle-link" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
      <i class="fab fa-facebook-f facbeook"></i>
    </a>

    <a class="circle-link" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
      <i class="fab fa-instagram instagram"></i>
    </a>

    <a class="circle-link" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
      <i class="fab fa-snapchat snapchat"></i>
    </a>

    <a class="circle-link" title="Spotify" href="https://www.spotify.com/" target="_blank" rel="noopener">
      <i class="fab fa-spotify spotify"></i>
    </a>

    <a class="circle-link" title="Apple Music" href="https://www.apple.com/ca/music/" target="_blank" rel="noopener">
      <i class="fab fa-apple"></i>
    </a>
  </div>
</div>