
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- PLACE LOGO HERE-->
  <h1 class="shift_title">TALENT SC</h1>
  <a routerLink="/home" routerLinkActive="active">
  <i class="fas fa-compact-disc center_logo"></i>
  </a>
  <h1>UT</h1>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a routerLink="/artists" routerLinkActive="active" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
        </div>
      </div>
</div>

<div role="main">

  <router-outlet></router-outlet>

</div>