/* You can add global styles to this file, and also import other style files */
html, body {
    background-image: url("../src/assets/Images/backdrop3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
    height: 100%;
}