<div class="column">
<div class="row">
        <div class="content">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem; height:22rem;">
                                        <img class="card-img-top" src="../../assets/Images/CoverArt.PNG" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Artist #1</h5>
                                            <p class="card-text">Be sure to check out my new song!</p>
                                            <a href="#" class="btn btn-primary">Listen here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem;height:22rem;">
                                        <img class="card-img-top" src="../../assets/Images/CoverArt.PNG" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Artist #2</h5>
                                            <p class="card-text">I had a great time performing for you guys, ill see you again next year</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem;height:22rem;">
                                        <img class="card-img-top" src="../../assets/Images/CoverArt.PNG" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Artist #3</h5>
                                            <p class="card-text">Tell me what you think about my new album!</p>
                                            <a href="#" class="btn btn-primary">Listen here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem;height:22rem;">
                                        <img class="card-img-top" src="../../assets/Images/CoverArt.PNG" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Artist #4</h5>
                                            <p class="card-text">Lofi is overrated, change my mind</p>
                                            <a href="#" class="btn btn-primary">Discuss here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem;height:22rem;">
                                        <img class="card-img-top" src="../../assets/Images/CoverArt.PNG" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Artist #5</h5>
                                            <p class="card-text">New song out, tell me what you think</p>
                                            <a href="#" class="btn btn-primary">Listen here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem;height:22rem;">
                                        <img class="card-img-top" src="../../assets/Images/CoverArt.PNG" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Artist #6</h5>
                                            <p class="card-text">New songs left and right, which is your favourite?</p>
                                            <a href="#" class="btn btn-primary">Vote here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem;height:22rem;">
                                        <img class="card-img-top" src="../../assets/Images/CoverArt.PNG" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Artist #7</h5>
                                            <p class="card-text">Cleaning the streets with these sick beats, listen now!</p>
                                            <a href="#" class="btn btn-primary">Listen here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem;height:22rem;">
                                        <img class="card-img-top" src="../../assets/Images/CoverArt.PNG" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Artist #8</h5>
                                            <p class="card-text">Check out my new project</p>
                                            <a href="#" class="btn btn-primary">Listen here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card" style="width: 18rem;height:22rem;">
                                        <img class="card-img-top" src="../../assets/Images/CoverArt.PNG" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Artist #9</h5>
                                            <p class="card-text">Upcoming concerts, check if they are in your area</p>
                                            <a href="#" class="btn btn-primary">Check here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        
        
</div>
<div class="card song_selection_adjust" style="width: 58rem;">
        <div class="card-header">
        New Songs
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="far fa-play-circle play_adjust"></i>Cras justo odio - Aw ijawd ijd</li>
          <li class="list-group-item"><i class="far fa-play-circle play_adjust"></i>Dapibus ac facilisis in - agije ijeg </li>
          <li class="list-group-item"><i class="far fa-play-circle play_adjust"></i>Vestibulum at eros - apwodk akwd</li>
          <li class="list-group-item"><i class="far fa-play-circle play_adjust"></i>Cras justo odio - Aw ijawd ijd</li>
        </ul>
      </div>
</div>


    <div class="sidenav">
        <div class="container">
            <div class="row">
                <img class="media_image rounded border border-dark" src="../assets/Images/1_1Imag.jpg" alt="Card image cap">
            </div>
            <div class="row">
                <h3 style="margin-left: 33px;" class="black">Song Title</h3>
            </div>
            <div class="row">
                <div class="column">
                    <i class="fas fa-backward media_control_size black"></i>
                </div>
                <div class="column">
                    <i class="far fa-play-circle media_control_size black"></i>
                </div>
                <div class="column">
                    <i class="fas fa-forward media_control_size black"></i>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-light adjustBtn" data-toggle="modal" data-target="#exampleModal">
                        Shout Music<i class="fas fa-bullhorn shout_icon_spacing"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="equal_effect">
        <div class="Equalcontainer">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Shout Music</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <img class="media_image rounded border border-dark" src="../assets/Images/1_1Imag.jpg" alt="Card image cap">
                        </div>
                        <div class="col">
                            <div class="row">
                                <h5>Song Title</h5>
                            </div>
                            <div class="row">
                                <h6>Artist</h6>
                            </div>
                            <div class="row">
                                <div class="col">
                                <a class="circle-link" title="Twitter" href="https://twitter.com/" target="_blank" rel="noopener">
                                    <i class="fab fa-twitter twitter"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a class="circle-link" title="Facbeook" href="https://www.facebook.com/" target="_blank" rel="noopener">
                                    <i class="fab fa-facebook-f facbeook"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a class="circle-link" title="Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener">
                                    <i class="fab fa-instagram instagram"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a class="circle-link" title="Snapchat" href="https://www.snapchat.com/" target="_blank" rel="noopener">
                                    <i class="fab fa-snapchat snapchat"></i>
                                </a>
                            </div>
                            </div>
                      
                            <div class="row">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Message</span>
                                    </div>
                                    <input type="text" class="form-control field_adjust" placeholder="Enter here" aria-label="Message" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Friends</span>
                                    </div>
                                    <input type="text" class="form-control field_adjust" placeholder="@friend" aria-label="Tag Friends" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Shout!

                    </button>
            </div>
        </div>
    </div>

